<?xml version="1.0"?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets>
        <target name="ccon" xsi:type="ColoredConsole">
            <layout xsi:type="JsonLayout">
                <attribute name="t" layout="${longdate}"/>
                <attribute name="l" layout="${level:upperCase=true}"/>
                <attribute name="m" layout="${message}"/>
                <attribute name="err" layout="${exception:format=tostring}"/>
                <attribute name="args" encode="false">
                    <layout type="JsonLayout" includeAllProperties="true" maxRecursionLimit="10"/>
                </attribute>
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="Microsoft.*" maxlevel="Trace" final="true"/>
        <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Trace" final="true"/>
        <logger name="*" minlevel="Trace" writeTo="file, ccon"/>
    </rules>
</nlog>
